In [73]:
import pandas as pd

Insertamos los datos en un DataFrame

In [150]:

df_vic = pd.read_csv(r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\victimas.csv",delimiter=';',encoding='latin-1')

Analizamos la cantidad de nulos

In [138]:
df_vic.isna().sum()

ID_hecho               3
FECHA                  3
AAAA                   3
MM                     3
DD                     3
ROL                    3
VICTIMA                3
SEXO                   3
EDAD                   3
FECHA_FALLECIMIENTO    3
dtype: int64

In [151]:
#Eliminamos las filas que tengan todas las columbas vacías
df_vic = df_vic.dropna(axis=0,how='all')

Analizamos si hay duplicados

In [152]:
duplicados = df_vic.value_counts()
print(duplicados[duplicados>1])
#No hay duplicados

Series([], Name: count, dtype: int64)

Transformamos el tipo de datos de algunas columnas para optimizar las consultas

In [155]:
df_vic['FECHA'] = pd.to_datetime(df_vic['FECHA'],format='%d/%m/%Y',errors='coerce')
df_vic['FECHA_FALLECIMIENTO'] = pd.to_datetime(df_vic['FECHA_FALLECIMIENTO'],format='%d/%m/%Y',errors='coerce')

ID_hecho                0
FECHA                   0
AAAA                    0
MM                      0
DD                      0
ROL                     0
VICTIMA                 0
SEXO                    0
EDAD                    0
FECHA_FALLECIMIENTO    68
dtype: int64

In [157]:
df_vic.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016.0,1.0,1.0,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01
1,2016-0002,2016-01-02,2016.0,1.0,2.0,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02
2,2016-0003,2016-01-03,2016.0,1.0,3.0,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03
3,2016-0004,2016-01-10,2016.0,1.0,10.0,CONDUCTOR,MOTO,MASCULINO,18,NaT
4,2016-0005,2016-01-21,2016.0,1.0,21.0,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01

Normalizaremos el nombre de las columnas para facilitar el análisis

In [158]:
#Primero normalizamos el nombre de las columnas

# Función para normalizar el nombre de la columna
def normalizar_nombre_columna(nombre):
    # Dividir el nombre por espacios
    partes = nombre.split()
    # Si hay más de una parte (es decir, había espacios), unir con guion bajo y capitalizar cada palabra
    if len(partes) > 1:
        nombre_normalizado = '_'.join([parte.capitalize() for parte in partes])
    else:
        # Si no hay espacios, capitalizar la primera letra
        nombre_normalizado = nombre.capitalize()
    return nombre_normalizado

# Normalizar nombres de columnas en el DataFrame
df_vic.columns = [normalizar_nombre_columna(col) for col in df_vic.columns]

# Mostramos los nombres de las columnas normalizados

df_vic.head(1)

,Id_hecho,Fecha,Aaaa,Mm,Dd,Rol,Victima,Sexo,Edad,Fecha_fallecimiento
0,2016-0001,2016-01-01,2016.0,1.0,1.0,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01

Eliminamos las columnas que no necesitamos

In [159]:
df_vic = df_vic.drop(columns=['Aaaa','Mm','Dd'])

Le cambiamos el nombre a la columna Id_hecho

In [160]:
df_vic = df_vic.rename(columns={'Id_hecho':'Id'})
df_vic.head()

          Id      Fecha        Rol Victima       Sexo Edad Fecha_fallecimiento
0  2016-0001 2016-01-01  CONDUCTOR    MOTO  MASCULINO   19          2016-01-01
1  2016-0002 2016-01-02  CONDUCTOR    AUTO  MASCULINO   70          2016-01-02
2  2016-0003 2016-01-03  CONDUCTOR    MOTO  MASCULINO   30          2016-01-03
3  2016-0004 2016-01-10  CONDUCTOR    MOTO  MASCULINO   18                 NaT
4  2016-0005 2016-01-21  CONDUCTOR    MOTO  MASCULINO   29          2016-02-01

Agregamos una columna en reemplazo de Fecha de fallecimiento que indica la cantidad de días transcurridos
desde el incidente hasta que falleció

In [161]:
df_vic['Dias_hospitalizado'] = (df_vic['Fecha_fallecimiento'] - df_vic['Fecha']).dt.days
df_vic = df_vic.drop(columns='Fecha_fallecimiento')
df_vic.head()

          Id      Fecha        Rol Victima       Sexo Edad  Dias_hospitalizado
0  2016-0001 2016-01-01  CONDUCTOR    MOTO  MASCULINO   19                 0.0
1  2016-0002 2016-01-02  CONDUCTOR    AUTO  MASCULINO   70                 0.0
2  2016-0003 2016-01-03  CONDUCTOR    MOTO  MASCULINO   30                 0.0
3  2016-0004 2016-01-10  CONDUCTOR    MOTO  MASCULINO   18                 NaN
4  2016-0005 2016-01-21  CONDUCTOR    MOTO  MASCULINO   29                11.0

Finalmente guardamos en un csv

In [163]:
df_vic.to_csv(r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\victimasETL.csv",sep=';',encoding='latin-1')